

<div class="pressureElement">

  <div class="weather-item">

    <span class="moduletitle">Barometer</span><br>
    <div id="barometer">

      <div class="barometermax"><div class="barometerorange">Max (09:55)<br><span>{{getMeasureValue(measureAlmanac[0])}} </span></div></div>
      <div class="barometermin"><div class="barometerblue">Min (16:55)<br><span>{{getMeasureValue(measureAlmanac[1])}} </span></div></div>



      <div class="homeweathercompass2" style="background:none;border:0;">
        <div class="homeweathercompass-line2" style="background:none;border:0;"></div>
      </div>
      <div class="homeweathercompass2">
      <div class="homeweathercompass-line2"><div [ngStyle]="{ 'transform': 'rotate('+getRotation()+'deg)'}" class="thearrow3"></div></div>
        <div class="text2"><span class="darkgrey">{{getMeasureValue(measurePressure)}}</span>
        </div>
      </div>
      <div class="barometerlimits">
      <div class="barometerlimits"><span class="oblue">950</span>      ----------------------------------     <span class="ored">1050</span></div></div>
    </div>
  </div>


</div>
