/*! CSS Used from: http://maurizioterreni.altervista.org/CU-X7/CU-X7/css/main.dark.css?version=9 */
.weather-item,a{-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;-ms-font-smoothing:antialiased;}
.weather-item,a{text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;}
.weather-item,a{-moz-osx-font-smoothing:grayscale;}
a{text-decoration:none;}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
*,:after,:before{-o-box-sizing:border-box;}
*,:after,:before{-ms-box-sizing:border-box;box-sizing:inherit;}
.weather-item{text-align:center;}
.weather-item,a{text-transform:none;font-family:arial,sans-serif;}
.weather-item{font-family:arial,sans-serif;}
.weather-item{color:#ccc;font-weight:400;box-shadow:0 .25em .25em rgba(0,0,0,.1);max-height:360px;padding:3px;}
svg:not(:root){overflow:hidden;}
.weather-item{width:320px;height:201px;border:1px solid #fff;border-bottom:18px solid #fff;-webkit-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;border-radius:4px;font-size:1em;margin:0 5px 5px 0;padding:6px;background:#fff;}
.h2mbvalue{color:#757575;}
.h2mbvalue{margin-top:3px;padding-right:0;font-weight:400;font-family:Arial,sans-serif;}
.supunit{font-size:.7em;color:#757575;font-weight:400;vertical-align:top;}
a:visited{border:0;}
.moduletitle{text-transform:uppercase;}
a{font-weight:600;font-size:1em;color:#ccc;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;-ms-font-smoothing:antialiased;}
.barometermax{margin-left:10px;width:50px;position:absolute;text-align:center;}
.barometermax{margin-top:5px;color:#ccc;font:10px arial,sans-serif;line-height:9px;}
.barometermin{margin-top:120px;position:absolute;text-align:center;}
.barometermax span{font:400 10px arial,sans-serif;color:#9aba2f;}
.barometermax .supunit{font:400 10px arial,sans-serif;color:#aaa;}
.barometermin{margin-left:230px;width:50px;color:#ccc;font:10px arial,sans-serif;line-height:9px;}
.barometermin span,.barometermin .supunit{font:400 10px arial,sans-serif;}
.barometermin span{color:#9aba2f;}
.barometermin .unit{color:#aaa;}
.moduletitle{font-size:11px;}
.moduletitle{color:#757575;font-weight:600;}
::-webkit-scrollbar{width:12px;}
::-webkit-scrollbar-track{background-color:#eaeaea;border-left:1px solid #ccc;}
::-webkit-scrollbar-thumb{background-color:#9aba2f;}
::-webkit-scrollbar-thumb:hover{background-color:#00adbc;}
::-moz-scrollbar{width:12px;}
::-moz-scrollbar-track{background-color:#eaeaea;border-left:1px solid #ccc;}
::-moz-scrollbar-thumb{background-color:#9aba2f;}
::-moz-scrollbar-thumb:hover{background-color:#00adbc;}
::-o-scrollbar{width:12px;}
::-o-scrollbar-track{background-color:#eaeaea;border-left:1px solid #ccc;}
::-o-scrollbar-thumb{background-color:#9aba2f;}
::-o-scrollbar-thumb:hover{background-color:#00adbc;}
::scrollbar{width:12px;}
::scrollbar-track{background-color:#eaeaea;border-left:1px solid #ccc;}
::scrollbar-thumb{background-color:#9aba2f;}
::scrollbar-thumb:hover{background-color:#00adbc;}
@media screen and (max-width:768px){
.weather-item{float:none;width:310px;margin:10px auto 0;overflow:hidden;}
}
@media screen and (max-width:1024px) and (orientation:portrait){
.weather-item{float:none;width:310px;margin:10px auto 0;overflow:hidden;}
}
@media screen and (max-width:640px){
.weather-item{float:none;width:310px;margin:10px auto 0;overflow:hidden;}
}
*{box-sizing:border-box;}
/*! CSS Used fontfaces */

.pressureElement{margin-left: 46px;margin-top: 31px;}
