<div class="rainElement">

  <div class="weather-item">
    <span class="moduletitle">Rainfall Today</span><br>
    <div id="rainfall">

      <div class="rainannual1">
        <div class="almanac">Almanac</div>
        {{today | date: 'yyyy'}}<br><span class="rainblue">{{measureRainYear | number : '.0'}}</span>&nbsp;<span class="raingrey">mm</span><br>
        {{today | date: 'MMM'}}.<br><span class="rainblue">{{measureRainMonth | number : '.1'}}</span>&nbsp;<span class="raingrey">mm</span><br>
        Yesterday<br><span class="rainblue">{{measureRainDay | number : '.1'}}</span>&nbsp;<span class="raingrey">mm</span>
      </div>

      <div class="weather34i-rairate-bar">
        <div id="raincontainer">
          <div id="weather34rainbeaker">
            <div id="weather34rainwater" style="height:1px;"  [style.height.px]="getRainRange()"></div>
          </div>
        </div>
      </div>
      <div class="weather34todayraintext"><span class="oblue">{{rainValue | number : '.1'}}<br><span>mm</span></span> </div>

  </div>

</div>
