<div class="rainElement">

  <div class="weather-item">
    <span class="moduletitle">Rainfall Today</span><br>
    <div id="rainfall">
      <div class="rainannual1">
        <div class="almanac">Almanac</div>
        2018<br><span class="rainblue">13.03</span> <span class="grey">in</span><br>
        Sep<br><span class="rainblue">0.00</span> <span class="grey">in</span><br>
        Yesterday<br><span class="rainblue">0.00</span> <span class="grey">in</span><br>
      </div>

      <div class="weather34i-rairate-bar">
       <div id="raincontainer">
          <div id="weather34rainbeaker">
            <div id="weather34rainwater" style="height:0px;"></div>
          </div>
        </div>
      </div>
      <div class="weather34todayraintext"><span class="oblue">0.00<br><span>in</span></span></div>

      <div class="weather34-rrrate-bar">
        <div class="bar bar-1" style="height:100px;max-height:100px;">
            <div class="bar bar-inner10" style="max-height:90px;height: 1px;"></div>
        </div>
      </div>
      <div class="weather34luxrate"><span><span class="luxrate"><span class="oblue">  0.00<span class="rainu"> in</span></span> </span> </span></div>
    </div>
  </div>

</div>
