.weather-item,a{-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;-ms-font-smoothing:antialiased;}
.weather-item,a{text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;}
.weather-item,a{-moz-osx-font-smoothing:grayscale;}
a{text-decoration:none;}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
*,:after,:before{-o-box-sizing:border-box;}
*,:after,:before{-ms-box-sizing:border-box;box-sizing:inherit;}
.weather-item{text-align:center;}
.weather-item,a{text-transform:none;font-family:arial,sans-serif;}
.weather-item{font-family:arial,sans-serif;}
.weather-item{color:#ccc;font-weight:400;box-shadow:0 .25em .25em rgba(0,0,0,.1);max-height:360px;padding:3px;}
svg:not(:root){overflow:hidden;}
.weather-item{width:320px;height:201px;border:1px solid #fff;border-bottom:18px solid #fff;-webkit-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;border-radius:4px;font-size:1em;margin:0 5px 5px 0;padding:6px;background:#fff;}
@media screen and (max-width:768px){
.weather-item{float:none;width:310px;margin:10px auto 0;overflow:hidden;}
}
@media screen and (max-width:1024px) and (orientation:portrait){
.weather-item{float:none;width:310px;margin:10px auto 0;overflow:hidden;}
}
@media screen and (max-width:640px){
.weather-item{float:none;width:310px;margin:10px auto 0;overflow:hidden;}
}
.chartforecast,.monthpopup,.yearpopup{text-transform:uppercase;}
a:visited{border:0;}
.chartforecast,a{font-family:arial,sans-serif;}
.chartforecast{padding-top:5px;}
.chartforecast{margin-left:0;font-size:.67em;position:absolute;color:#aaa;margin-top:174px;width:300px;padding-left:10px;text-align:left;}
a{font-weight:600;font-size:1em;color:#aaa;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;-ms-font-smoothing:antialiased;}
.updatedtime{width:75px;text-align:center;}
.updatedtime{font:10px arial,sans-serif;margin-left:220px;color:#aaa;background:0;padding:3px;}
.updatedtime{margin-top:-20px;line-height:10px;border-radius:3px;}
.moduletitle{font-size:12px;}
.moduletitle{color:#aaa;font-weight:600;}

.chartforecast:hover,a:hover{color:#9aba2f;}

.updatedtime span{margin-bottom:0;color:#aaa;font-family:arial,sans-serif;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;-ms-font-smoothing:antialiased;}
#solar{margin-left: -25px;margin-top: 10px;}

.weather34solarrate,.weather34solarrate span{font-family:weathertext,arial,sans-serif;font-size:12px;}
.solarwm2{font-size:10px;font-weight:normal;}
.orangeuv{color:#ff8841;}
.greenuv{color:#9aba2f;}
.weather34i-uvrate-bar{background:0;position:absolute;height:100px;width:130px;margin-left:105px;margin-top:38px;}
.weather34i-uvrate-bar .bar{shape-rendering:crispEdges;background:url(http://maurizioterreni.altervista.org/MB/css/rain/uvmarker.svg) no-repeat;width:90px;border:1px solid rgba(233, 235, 241, 1);border-bottom:5px solid rgba(233, 235, 241,1);border-top:3px solid rgba(233, 235, 241,1);-webkit-border-radius:1px 1px 2px 2px;position:absolute;bottom:0;}
.weather34i-uvrate-bar .bar-1{height:100px;max-height:100px;}
.weather34i-uvrate-bar .bar-inner{shape-rendering:crispEdges;background:rgba(143,177,42,.6);width:100%;-webkit-border-radius:1px 1px 2px 2px;border:0;}
.weather34iuvrate{-o-border-radius:100%;-ms-border-radius:100%;}
.weather34iuvrate{color:#ff8841;position:absolute;margin-left:130px;margin-top:57px;font-family:weathertext,arial,sans-serif;max-height:41px;font-weight:normal;background:rgba(37,41,45,.0);width:41px;height:41px;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;font-size:16px;line-height:10px;padding-top:13px;border:.12rem solid rgba(95,96,97,.9);}
.weather34iuvrate span{color:#777;font-family:arial,sans-serif;font-size:8px;font-weight:normal;}
.weather34luxrate,.weather34luxrate span,.luxrate{margin-top: -6px;font-size:12px;font-family:weathertext,arial,sans-serif;font-weight:normal;}
.weather34luxrate{line-height:10px;max-height:100px;}
.weather34-luxrate-bar{background:0;position:absolute;height:100px;width:30px;margin-left:230px;margin-top:38px;}
.weather34-luxrate-bar .bar{shape-rendering:crispEdges;background:url(http://maurizioterreni.altervista.org/MB/css/rain/luxrulerw34.svg) no-repeat;width:37px;border:1px solid rgba(233, 235, 241,1);border-bottom:5px solid rgba(233, 235, 241,1);border-top:3px solid rgba(233, 235, 241,1);-webkit-border-radius:1px 1px 2px 2px;position:absolute;bottom:0;}
.weather34-luxrate-bar .bar-1{height:100px;max-height:100px;}
.weather34-luxrate-bar .bar-inner5{-webkit-border-radius:1px 1px 2px 2px;shape-rendering:crispEdges;width:100%;}
.weather34-luxrate-bar .bar-inner5{background:rgba(255,136,65,.6);border:0;}
.weather34luxrate{color:#ff8841;position:absolute;margin-left:230px;margin-top:17px;width:28px;text-align:center;}
.luxrate{background:0;width:30px;position:absolute;}
.weather34luxrate span{color:#777;display:block;}
.luxrate{color:#ff8841;padding:0;left:5px;margin-top:0;text-align:center;display:inline-block;}
.luxrate span{color:#777;font-size:10px;}

.uvElement{
  text-align: -webkit-center;
  margin-top: 31px;
}
