<div class="uvElement">

  <div class="weather-item">
  	<span class="moduletitle">UV-Index | Lux</span><br>
  	<div id="solar">
  		<div class="weather34-luxrate-bar">
  			<div class="bar bar-1" style="height:100px;max-height:100px;"><div class="bar bar-inner5" style="max-height:90px;height: 0.7px;"></div></div>
  		</div>
  		<div class="weather34luxrate"><span><span class="luxrate"> 0<span> Lux</span> </span> </span></div>

  		<div class="weather34i-uvrate-bar">
  			<div class="bar bar-1" style="height:100px;max-height:100px;"><div class="bar bar-inner"  [ngStyle]="{ 'height': '+getUvRange()+'px}"></div></div>
  		</div>
  		<div class="weather34iuvrate"><span class="greenuv">{{getMeasureValue(measureUv)}}<br><span>UVI</span></span> </div>
  	</div>
 </div>

</div>
