agm-map{
	height: 86vh;
	width: 103vh;
	/* margin-top: 79px; */
	/* height: 117px; */
	position: absolute;
	top: 70px;
	/* bottom: -3px; */
	right: 5px;
}

.container {
	height: 100%; /* For 100% screen height */
}
