<div class="container">
  <h2>My personal information</h2>

  <mat-label>Email</mat-label>
  <mat-form-field (change)="canSave($event)" class="example-full-width">
    <input matInput placeholder="{{user.email}}" disabled>
  </mat-form-field><br><br>
  <mat-label>Username</mat-label>
  <mat-form-field (change)="canSave($event)" class="example-full-width">
    <input matInput placeholder="{{user.username}}" disabled>
  </mat-form-field><br><br>
  <mat-label>Password</mat-label>
  <mat-form-field (change)="canSave($event)" class="example-full-width">
    <input matInput placeholder="{{user.password}}" type="password" value="pippo" >
  </mat-form-field><br><br>
  <button mat-button [disabled]="!buttonEnable">Save</button>



  </div>
