
.card-blank{
  background: #fbfbfb !important;
  box-shadow: none !important;
}
.weatherstation-card{
  max-width: 550px;
  height: 340px;
  margin: auto;
  margin-top: 10px;
}


@media (min-width: 1251px) {
    .weatherstation-card {
        width: 550px;
    }
}


@media (min-width: 1001px) and (max-width: 1250px) {
    .weatherstation-card {
        width: 400px;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .weatherstation-card {
        width: 350px;
    }
}

@media (min-width: 691px) and (max-width: 800px) {
    .weatherstation-card {
        width: 290px;
    }
}

@media (max-width: 690px) {
    .weatherstation-card {
        width: 255px;
    }
}

.weatherstation-card-content img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.weatherstation-card-content-image{
  width: 200px;
  height: 200px;
  margin: auto;
  vertical-align: middle;
}


.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.favorite_bt{ position: absolute; top: 0px;right: 0px;}


.checked_favorite{height: 30px; width: 100%; margin-top: 30px;text-align: right;}
.checked_favorite section{margin-top: 20px;margin-right: 10px;}
