<ngx-alerts></ngx-alerts>

<div *ngIf="isLogIn()" class="checked_favorite">
  <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Show only favorites</mat-checkbox>
  </section>
</div>
<div class="container grid2x2">
  <div class="box" *ngFor="let weatherStation of weatherstations; let i = index">
    <div *ngIf="checked == false || (checked == true && isLiked(weatherStation.id)) ">
			<mat-card class="weatherstation-card" style="text-align:center;">
        <div class="weatherstation-card-content">
            <div class="weatherstation-card-content-image"><a  routerLinkActive="active" routerLink="/sensor/{{weatherStation.id}}/" ><img mat-card-image src="{{weatherStation.image}}"></a></div>
  					<mat-card-content>
  						<p>{{weatherStation.description}}</p>
  					</mat-card-content>
  					<mat-card-actions>
  						<button mat-button routerLinkActive="active" routerLink="/sensor/{{weatherStation.id}}/"> <i class="material-icons">widgets</i> Sensor</button>
  						<button mat-button (click)="openMap(weatherStation.longitude, weatherStation.latitude)"><i class="material-icons">my_location</i> MAP</button>
              <div *ngIf="isLogIn()" class="favorite_bt">
                <span *ngIf="isLiked(weatherStation.id) else no_favorite"><button mat-icon-button color="warn" (click)="weatherLike(weatherStation.id,true)"><i class="material-icons">favorite</i></button></span>
    						<ng-template #no_favorite><button mat-icon-button (click)="weatherLike(weatherStation.id,false)"><i class="material-icons">favorite_border</i></button></ng-template>
              </div>
            </mat-card-actions>
        </div>
				</mat-card>
		</div>
	</div>

  <div class="box" *ngIf="(weatherstations.length % 2) != 0 ">
    <div>
			<mat-card class="card-blank" style="text-align:center;">

			</mat-card>
		</div>
	</div>
</div>
