<!--<mat-dialog-content class="accent-color">
  <mat-tab-group *ngFor="let sensor of sensors; let i = index">
    <mat-tab label="{{sensor.id}}"> {{sensor.description}} </mat-tab>
  </mat-tab-group>
</mat-dialog-content>-->

<mat-dialog-content class="accent-color">
  <mat-tab-group (selectedTabChange)="changeChart($event)">
    <div *ngFor="let sensor of sensors; let i = index">
      <mat-tab   label="{{sensor.description}}"></mat-tab>
    </div>
  </mat-tab-group>
  <div *ngIf="chart" class="chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
  <mat-form-field>
    <input matInput (selectedChanged)="onDate($event)" [matDatepicker]="fromDate" placeholder="Choose from date">
    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
    <mat-datepicker #fromDate ></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput (selectedChanged)="onDate($event)" [matDatepicker]="toDate" placeholder="Choose to date">
    <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
    <mat-datepicker #toDate></mat-datepicker> 
  </mat-form-field>
  <button mat-button (click)="dateSelected()">Show</button>
</mat-dialog-content>
