<div class="windElement">


  <div class="weather-item">
    <span class="moduletitle">Wind Speed | Direction</span><br>
    <div id="windspeed"><br>

      <div class="windspeedvalues">
        <div class="windspeedvalue">12.2<div class="windunitidspeed">km/h</div></div>
      </div>
      <div class="windannual1">
        <div class="almanac">Almanac</div>
        2018<br><span class="rainblue">20.3</span>&nbsp;<span class="raingrey">km/h</span><br>
        Sept.<br><span class="rainblue">10.7</span>&nbsp;<span class="raingrey">km/h</span><br>
        Yesterday<br><span class="rainblue">60.0</span>&nbsp;<span class="raingrey">km/h</span><br>
      </div>


      <div class="homeweathercompass1"><div class="homeweathercompass-line1"><div class="thearrow2"></div></div>
        <div class="text1"><div class="windvalue1" id="windvalue">63°</div></div>
        <div class="windirectiontext1">East North<br><span>East</span></div>
      </div>


    </div>
  </div>

</div>
