/*! CSS Used from: https://weather34.com/css/main.dark.css?version=1534318733 */
/*! CSS Used from: https://weather34.com/css/main.light.css?version=1536500506 */
.gustspeedtrend1 span,.updatedtime span,.windspeedtrend1 span{text-rendering:optimizeLegibility;}
img{vertical-align:middle;}
*,:after,:before{-moz-box-sizing:border-box;}
*,:after,:before{-o-box-sizing:border-box;}
*,:after,:before{-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:inherit;}
svg:not(:root){overflow:hidden;}
.supmb{color:rgba(45,45,45,1);}
::-webkit-scrollbar{width:12px;}
::-webkit-scrollbar-track{background-color:#eaeaea;border-left:1px solid #ccc;}
::-webkit-scrollbar-thumb{background-color:#d65b4a;}
::-webkit-scrollbar-thumb:hover{background-color:rgba(18,109,193,1);}
::-moz-scrollbar{width:12px;}
::-moz-scrollbar-track{background-color:#eaeaea;border-left:1px solid #ccc;}
::-moz-scrollbar-thumb{background-color:#d65b4a;}
::-moz-scrollbar-thumb:hover{background-color:rgba(18,109,193,1);}
::-o-scrollbar{width:12px;}
::-o-scrollbar-track{background-color:#eaeaea;border-left:1px solid #ccc;}
::-o-scrollbar-thumb{background-color:#d65b4a;}
::-o-scrollbar-thumb:hover{background-color:rgba(18,109,193,1);}
::scrollbar{width:12px;}
::scrollbar-track{background-color:#eaeaea;border-left:1px solid #ccc;}
::scrollbar-thumb{background-color:#d65b4a;}
::scrollbar-thumb:hover{background-color:rgba(18,109,193,1);}
.supmb{font-size:.8em;}
.updatedtime{width:75px;margin-left:220px;text-align:center;}
.updatedtime{position:absolute;margin-top:-15px;color:#d65b4a;font:700 10px arial,sans-serif;line-height:10px;}
.updatedtime span{margin-bottom:0;color:#d65b4a;font-weight:700;-o-font-smoothing:antialiased;font-family:arial,sans-serif;}
:full-screen{background:#fff;}
.averagedir1,.windrun{width:100px;position:absolute;text-align:center;}
.averagedir1{margin-left:200px;margin-top:98px;color:#d86858;font:600 10px arial,sans-serif;}
.windrun{margin-left:198px;margin-top:140px;color:rgba(45,45,45,1);font:400 10px arial,sans-serif;}
.windrun span{color:#d86858;font:600 10px arial,sans-serif;}
img{border:0;}
:-webkit-full-screen{background:#fff;}
:-moz-full-screen{background:#fff;}
:-ms-fullscreen{background:#fff;}
:fullscreen{background:#fff;}
.homeweathercompass1>.homeweathercompass-line1{-webkit-clip-path:polygon(100%0,100%100%,100%100%,0100%,0);-ms-clip-path:polygon(100%0,100%100%,100%100%,0100%,0);}
.homeweathercompass1>.homeweathercompass-line1{-webkit-border-radius:100%;-moz-border-radius:100%;-o-border-radius:100%;-ms-border-radius:100%;}
.windunitidgust,.windunitidspeed{position:absolute;color:rgba(45,45,45,1);margin-top:5px;margin-left:10px;font-size:10px;}
.text1,.windvalue1{font-family:weathertext,Arial;}
.text1,.windvalue1{font-size:26px;color:gray;}
.homeweathercompass1{position:absolute;width:175px;height:175px;text-align:center;margin-top:-30px;margin-left:60px;z-index:1;}
.text1{z-index:10;text-align:center;margin:60px 0 auto;}
.homeweathercompass1>.homeweathercompass-line1{position:absolute;z-index:10;left:25px;right:25px;top:25px;bottom:25px;border-radius:100%;border-left:8px solid rgba(95,96,97,.5);border-top:8px solid rgba(95,96,97,.8);border-right:8px solid rgba(95,96,97,.5);border-bottom:8px solid rgba(95,96,97,.8);margin:auto;}
.homeweathercompass1>.windirectiontext1{display:block;text-align:center;color:gray;font-family:Arial,sans-serif;line-height:12px;font-size:12px;z-index:10;margin:0 0 auto;}
.windgustvalue,.windspeedvalue,.windspeedvalues{font-family:weathertext,Helvetica,Arial;position:absolute;}
.gustspeedtrend1 span,.windspeedtrend1 span{margin-bottom:0;-moz-osx-font-smoothing:grayscale;}
.windirectiontext1 span{color:#d65b4a;}
.beaufort1{position:absolute;margin-top:110px;margin-left:15px;font-size:10px;}
.windicons1{font-size:0;position:absolute;margin-top:80px;margin-left:25px;border:3px solid #e9ebf1;border-radius:75%;padding:3px;background:rgba(238, 98, 29, 1.000);}
.windgustvalue,.windspeedvalue{font-size:2em;margin-top:40px;color:#71767b;}
.windspeedvalues{padding-bottom:5px;line-height:1em;height:50px;}
.gustspeedtrend1,.gustspeedtrend1 span{color:rgba(45,45,45,1);font:10px arial,sans-serif;}
.windspeedvalue{margin-left:15px;}
.windgustvalue{margin-left:225px;}
.gustspeedtrend1,.windspeedtrend1{margin-top:-5px;position:absolute;}
.gustspeedtrend1,.windspeedtrend1{width:75px;display:block;float:left;}
.gustspeedtrend1{margin-left:210px;text-align:center;}
.gustspeedtrend1 span{-o-font-smoothing:antialiased;-ms-font-smoothing:antialiased;}
.gustspeedtrend1 .max{color:#d86858;}
.windspeedtrend1,.windspeedtrend1 span{color:rgba(45,45,45,1);font:10px arial,sans-serif;}
.windspeedtrend1{margin-left:0;text-align:center;}
.windspeedtrend1 span{-o-font-smoothing:antialiased;-ms-font-smoothing:antialiased;}
.windspeedtrend1 .max{color:#d86858;font-weight:600;}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
.grey{color:rgba(45,45,45,1);font-size:10px;font-weight:400;}
img{image-rendering:pixelated;}
/*! CSS Used from: Embedded */
.thearrow2{-webkit-transform:rotate(128deg);-moz-transform:rotate(128deg);-o-transform:rotate(128deg);-ms-transform:rotate(128deg);transform:rotate(128deg);position:absolute;z-index:200;top:0;left:50%;margin-left:-5px;width:10px;height:50%;-webkit-transform-origin:50% 100%;-moz-transform-origin:50% 100%;-o-transform-origin:50% 100%;-ms-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-transition-duration:3s;-moz-transition-duration:3s;-o-transition-duration:3s;-ms-transition-duration:3s;transition-duration:3s;}
.thearrow2:after{content:'';position:absolute;left:50%;top:0;height:10px;width:10px;background-color:NONE;width:0;height:0;border-style:solid;border-width:14px 9px 0 9px;border-color:RGBA(255,121,58,1.00) transparent transparent transparent;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transition-duration:3s;-moz-transition-duration:3s;-o-transition-duration:3s;-ms-transition-duration:3s;transition-duration:3s;}
.thearrow2:before{content:'';width:6px;height:6px;position:absolute;z-index:9;left:2px;top:-5px;border:2px solid RGBA(255,255,255,0.8);-webkit-border-radius:100%;-moz-border-radius:100%;-o-border-radius:100%;-ms-border-radius:100%;border-radius:100%;}
.avgw{width:27px;height:27px;margin-left:35px;-webkit-transform:rotate(58deg);-moz-transform:rotate(58deg);-o-transform:rotate(58deg);-ms-transform:rotate(58deg);transform:rotate(58deg);}
/*! CSS Used fontfaces */
@font-face{font-family:weathertext;src:url(https://weather34.com/css/fonts/sanfranciscodisplay-regular-webfont.woff);}

.windElement{
  margin-top: 80px;
  margin-left: 80px;
}
