<div class="windElement">


  <div class="weather-item">
    <span class="moduletitle">Wind Speed | Direction</span><br>
    <div id="windspeed"><br>

      <div class="windspeedvalues">
        <div *ngIf="measureWind else nan_max_mex" matTooltip="{{measureWind.dateTime | date: 'd/M/yy, H:mm'}}" class="windspeedvalue">{{measureWind.quantity | number:'.1'}}<div class="windunitidspeed">{{measureWind.symbol}}</div></div><ng-template #nan_max_mex ><div class="windspeedvalue" matTooltip="no data">NaN</div></ng-template>

      </div>
      <div class="windannual1">
        <div class="almanac">Almanac</div>
        {{today | date: 'yyyy'}}<br><span class="rainblue">{{getMeasureValue(measureWindYear[0])}}</span><br>
        {{today | date: 'MMM'}}.<br><span class="rainblue">{{getMeasureValue(measureWindMonth[0])}}</span><br>
        Today<br><span class="rainblue">{{getMeasureValue(measureWindDay[0])}}</span><br>
      </div>


      <div class="homeweathercompass1"><div class="homeweathercompass-line1"><div [ngStyle]="{ 'transform': 'rotate('+getRotation()+'deg)'}" class="thearrow2"></div></div>
        <div class="text1"><div class="windvalue1" id="windvalue">{{getDirectionNumber()}}</div></div>
        <div class="windirectiontext1">{{getDirectionAngle()}}</div>
      </div>


    </div>
  </div>

</div>
