<div class="windElement">

  <div id="windspeed">
    <div class="beaufort1">&nbsp;&nbsp;Light Breeze</div>
    <div class="windspeedvalues">
      <div class="windspeedvalue">7.0<div class="windunitidspeed">km/h</div></div>
    </div>

    <div class="windspeedtrend1"><span>Max </span><div class="max"><b>24.5</b></div><div class="supmb"> km/h</div> Wind (09:49)</div>

    <div class="homeweathercompass1">
      <div class="homeweathercompass-line1">
        <div class="thearrow2"></div>
      </div>
      <div class="text1">
        <div class="windvalue1" id="windvalue">{{sensor.measure.quantity}}</div>
      </div>
      <div class="windirectiontext1">North <span> East<br></span></div>
    </div>

</div>
