<div class="temperatureElement">
  <div class="weather-item">
    <div id="windspeed">
      <div class="dailyValue">
        <div class="temperatureMax"><span class="supmb">T. Max: </span><span class="max">20.8</span><span class="supmb"> °c</span><br><span class="supmb"> 10:52 </span></div>
        <div class="temperatureMin"><span class="supmb">T. Min: </span><span class="min">20.8</span><span class="supmb"> °c</span><br><span class="supmb">  14:34 </span></div>
        <div class="humidityMax"><span class="supmb">H. Max: </span><span class="max">20.8</span><span class="supmb"> %</span><br><span class="supmb">  11:34 </span></div>
        <div class="humidityMin"><span class="supmb">H. Max: </span><span class="min">20.8</span><span class="supmb"> %</span><br><span class="supmb">  18:56 </span></div>
        <div class="dewPoint"><span class="supmb">DewPoint: </span><span class="value">20.8</span><span class="supmb"> °c</span></div>
      </div>
      <div class="homeweathercompass1">
        <div class="homeweathercompass-line1"></div>
        <div class="text1">
          <div class="temperature">35.0°c</div>
          <div class="humidity">85%</div>
        </div>
      </div>
    </div>
  </div>

</div>
