<div class="temperatureElement">
  <div class="weather-item">
    <span class="moduletitle">Temperature | Himidity</span><br>
    <div id="windspeed">
      <div class="tempannual1">
        <div class="almanac">Almanac</div>
        T.Max<br><span class="rainblue">20.3</span>&nbsp;<span class="raingrey">°C</span><br>
        T.Min<br><span class="rainblue">10.7</span>&nbsp;<span class="raingrey">°C</span><br>
        H.Max<br><span class="rainblue">60</span>&nbsp;<span class="raingrey">%</span><br>
        H.Min<br><span class="rainblue">50</span>&nbsp;<span class="raingrey">%</span><br>
        DewPoint<br><span class="rainblue">12.3</span>&nbsp;<span class="raingrey">°C</span>
      </div>

      <div class="homeweathercompass1">
        <div class="homeweathercompass-line1"></div>
        <div class="text1">
          <div class="temperature">35.0°c</div>
          <div class="humidity">85%</div>
        </div>
      </div>
    </div>
  </div>

</div>
