<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    fixedInViewport="true"> <!-- [opened]="(opened | async)" -->
    <mat-toolbar class="menu" color="primary">Menu
      <button
        style="position: fixed;right: 16px;top: 7px;"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.close()">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a routerLink="weatherstationMap" routerLinkActive="active" (click)="sidenav.close()" mat-list-item>Map</a>
      <a routerLink="dashboard" routerLinkActive="active" (click)="sidenav.close()"  mat-list-item>Dashboard</a>
      <a routerLink="login" routerLinkActive="active" (click)="sidenav.close()"  mat-list-item>Login</a>
      <a *ngIf="isLogIn()" routerLink="personal" routerLinkActive="active" (click)="sidenav.close()"  mat-list-item>Personal Page</a>
      <a *ngIf="isLogIn()" (click)="logout()"  mat-list-item>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar color="primary" class="header">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.open()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{getTitle()}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <mat-toolbar color="primary" class="footer">
      <span class="version">{{getVersion()}}</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
