<div class="grid2x2 container">
  <div class="box" *ngFor="let sensor of sensors; let i = index">
      <mat-card class="sensor-card" style="text-align:center;">
        <div class="sensor-card-content">
            <mat-card-content>

              <div class="cardElement">
                <p>{{sensor.title}}</p>

                <temperature-card *ngIf="sensor.description=='Temperature'" [sensor]="sensor"></temperature-card>
                <pressure-card *ngIf="sensor.description=='Pressure'" [sensor]="sensor"></pressure-card>
                <wind-card *ngIf="sensor.description=='Wind direction'" [sensor]="sensor"></wind-card>
                <wind-card *ngIf="sensor.description=='Wind speed'" [sensor]="sensor"></wind-card>

            </div>

            </mat-card-content>

        </div>
      </mat-card>
  </div>
</div>
