<div class="grid2x2 container">
  <div class="box" *ngFor="let template of templates; let i = index">
      <mat-card class="sensor-card" style="text-align:center;">
        <div class="sensor-card-content">
            <mat-card-content>

              <div class="cardElement">

                <temperature-card *ngIf="i=='0'" [sensors]="getSensors(i)"></temperature-card>
                <wind-card *ngIf="i=='1'" [sensors]="getSensors(i)"></wind-card>
                <pressure-card *ngIf="i=='2'" [sensors]="getSensors(i)"></pressure-card>
                <rain-card *ngIf="i=='4'" [sensors]="getSensors(i)"></rain-card>

            </div>

            </mat-card-content>

        </div>
      </mat-card>
  </div>
  <div class="box">
      <mat-card class="sensor-card" style="text-align:center;">
        <div class="sensor-card-content">
            <mat-card-content>

              <div class="cardElement">
            <!--  <p>{{sensor.title}}</p>-->
                <daylight-card></daylight-card>

            </div>

            </mat-card-content>

        </div>
      </mat-card>
  </div>

  <div class="box" *ngIf="(templates.lenght % 2) == 0 ">
    <div>
			<mat-card class="card-blank" style="text-align:center;">

			</mat-card>
		</div>
	</div>
</div>
