<div class="grid2x2 container">
  <div class="box" *ngFor="let template of templates; let i = index">
      <mat-card class="sensor-card" style="text-align:center;">
        <div class="sensor-card-content">
            <mat-card-content>

              <div class="cardElement">
            <!--  <p>{{sensor.title}}</p>-->

                <temperature-card *ngIf="i=='1'" [sensors]="getSensors(i)"></temperature-card>
                <wind-card *ngIf="i=='2'" [sensor]="getSensors(i)"></wind-card>
                <pressure-card *ngIf="i=='3'" [sensor]="getSensors(i)"></pressure-card>
                <rain-card *ngIf="i=='5'" [sensor]="getSensors(i)"></rain-card>

            </div>

            </mat-card-content>

        </div>
      </mat-card>
  </div>
</div>
