<mat-dialog-content class="accent-color">
  <h1>Create new WeatherStation</h1>
  <form [formGroup]="createWtForm" class="create-weather-station-form"  (ngSubmit)="createSensor()">
    <div>
      <mat-form-field class="create-weather-station-width">
        <input matInput placeholder="The Title of your WeatherStation" formControlName="title"
               [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <mat-error *ngIf="f.title.errors.required">
            Please enter a valid title
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field class="create-weather-station-width">
        <input matInput placeholder="Url of Your WeatherStation's image" formControlName="url"
               [ngClass]="{ 'is-invalid': submitted && f.url.errors }">
        <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
          <mat-error *ngIf="f.url.errors.required">
            Please enter a valid url
          </mat-error>
        </div>
      </mat-form-field>
      <p  class="create-weather-station-width">Drag the marker to choose the location of your weather station</p>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
        <agm-marker (markerClick)="clickedMarker()"
                [latitude]="lat"
                [longitude]="lng"
                [label]="you"
                [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)">
                <agm-info-window>
                  <strong>Drag the marker to choose the location of your weather station</strong>
                </agm-info-window>
        </agm-marker>
      </agm-map>

    </div>
    <div class="create-weather-station-width">
      <button mat-button>Create</button>
      <button mat-button color="warn" (click)="close()">Cancel</button>
    </div>
  </form>
</mat-dialog-content>
